[submodule "cimgui"]
	path = thirdparty/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "glad"]
	path = thirdparty/glad
	url = https://github.com/nitrix/glad
